/* importing an appropriate google font to use for this webpage */
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

/* setting a background image for the webpage */
html{
    background-image: url("background.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 0;
    /* using the scroll-behavior attribute to make the scrolling smooth */
    scroll-behavior: smooth;
}

/* making the svg star disappear from view */
svg{
    display: none;
}

/* the entire body */
body{
    /* I have made the body flex, just so I can change the order of the elements. */
    display:flex;
    flex-direction: column;
    font-size: smaller;
    /* setting the imported font as the main font for all the things in the body */
    font-family: Metal Mania, sans-serif;
    /* setting this to 0 so that the nav and the footer are flush with the start and end of the screen. */
    margin:0;
}

/* navigational element selector, this element has been given the first order in the body*/
nav{
    backdrop-filter: blur(9px);
    background-color: #0000009c;
    border-bottom: solid;
    font-size: large;
    order: 0;
    /* position sticky combined with top 0 enables the nav to display at the top of the view even when the user scrolls */
    position: sticky;
    text-decoration: none;
    top: 0;
}

/* the header of the page, this element has been given the 2nd position in the entire body*/
header{
    background-color: rgba(0, 0, 0, 0.2);
    order:1;
    padding-bottom: 1rem;
}

 /* the main tag (containing all the article tags from the html) has been set to be the third item in the body */
main{
    text-align: center;
    order:2
}

/* the aside tag with class "profile" has been set to be in the third position of the body flex */
.profile{
    order: 3;
    background-color: #8080606e;
}

/* the aside tag with the id "styles" has been put at the 4th place in the entire body*/
#styles{
    background-color:rgba(127, 102, 102, 0.43);
    order:4;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* selecting all the relevant text elements of the html, and giving them shared css styles. */
body h1, body h2, body h3, body h4, body ol, body p{
    color: beige;
    text-shadow: black 1px 1.5px;
}

/* All the list items in the html have been given the following styles */
section:nth-child(2) > ul > li,.profile ul li, #styles ul li{
    /* creates a nice border around the individual list items */
    border-style: solid;
    background-color: antiquewhite;
    padding: 0.2rem;
    list-style: none;
    border-radius: 1rem;
    margin: .3rem;
    width: 10rem;
}

/* All the list items's hovers have been given the following styles */
/* if I hover over any of the list items in the html, the text and the border turn red. */
section:nth-child(2) > ul > li:hover, #files a:hover,
.profile li:hover, #styles li:hover{
    color:red;
    border-color: red;
}

/* selecting the entire list in the nav tag*/
ul:nth-child(1){
    color: wheat;
    display: flex;
    justify-content: space-evenly;
    list-style: hiragana-iroha;
    padding-left: 4%;
}

/* selecting every hyperlink in the html and giving it a reddish color, removing the bullet points and giving it shadow  */
a{
    color:rgb(243, 121, 121);
    text-decoration: none;
    text-shadow: 1px 1px black;

}

/* changing the color of every link element when you hover over it */
a:hover{
    color: #f1d2d27f;
}

/* this selects the container div inside the header tag */
header > .container{
    color: wheat;
    /* aligning every text inside the container to be centered */
    text-align: center;
    text-shadow: 1px 1.5px #000;
}

/* removing the margin from the only para in the header tag to make everything more closer */
header > .container > p{
    margin: 0;
}

/* customizing the header's heading  */
header > .container > h1{
    color: burlywood;
    font-size: 5rem;
    text-shadow: 1px 7px #000;
}

/* using the before pseudo selector to create a gif before the heading of the header. */
header > .container > h1::before{
    content: url(fire.gif);
    margin-right: 0.5rem
}

/* using the after pseudo selector to create a gif after the heading of the header. */
header > .container > h1::after{
    content: url(fire.gif);
    margin-left: 0.5rem
}
/* ------------------------------------------------------------------------------------------ */

/* creating a grid inside the main that will store each article in its appropriate place. */
main > .container{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
}

/* setting the article with id "about" in a position where it is housed in the first column all
all the way to the second column, all of the first row */
#about{
    display: flex;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
}

/* in the about id article, giving the two section's of the article some shared values */
#about section{
    border-style:groove;
    padding: 2rem;
    width: 40%;
}

/* setting individual designs for the first section of the article with id "about"  */
#about > section:nth-child(1){
    background-color: rgba(69, 86, 89, 0.68);
    font-weight: lighter;
    margin: 2rem 1rem 1rem auto;
}

/* setting individual designs for the second section of the article with id "about"  */ 
#about > section:nth-child(2){
    background-color: rgba(100, 92, 104, 0.47);
    margin: 2rem auto 1rem 1rem;
}

/* giving the list elements of the second section of the article with id "about" flex-wrap, so that the
elements wrap around based on the screen size of the window */
section:nth-child(2) > ul{
    display:inline-flex;
    flex-wrap: wrap;
}

/* changing the last list element of the second section of the article with id "about" to create a reverse
'u' like shape */
section:nth-child(2) > ul > li:last-child{
    margin-left:11.7rem;
}

/* setting the margin-bottom of the first paragraph from the list element of section 2 in article with id "about" to 0, so that
the paragraph below it can be flush it with it, once all that paragraph's padding has been removed. */
section:nth-child(2) > ul + p{
    margin-bottom: 0;
}

section:nth-child(2) > ul + p + p{
    margin: 0;
}

/* giving both articles (with id 'guidelines' and 'contribute') shared values */
#guidelines, #contribute{
    border-style: groove;
    justify-self: center;
    padding: 2rem;
    width: 80%;
}

/* setting the article with id "guidelines" in a position where it is housed in the first column of the second row */
#guidelines{
    background-color: #44353554;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 2;
    margin: 2rem 1rem 1rem 4rem;
}

/* setting the article with id "contribute" in a position where it is housed in the second column of the second row */
#contribute{
    background-color: #46000047;
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 2;
    margin: 2rem 4rem 1rem 1rem;
}

/* selecting the hyperlink items of the article with id "contribute" and giving them css values */
#files a{
    color: black;
    text-decoration: none;
    background-color: bisque;
    padding: .2rem;
    border-radius: 2rem;
    width: 7rem;
    display: inline-block;
    border-color: black;
    border-style: solid;
    text-shadow: none;
}

#files h3{
    color: rgb(255, 87, 87);
    text-shadow: 1px 2px black;
}

/* both aside tags (one with class "profile" and one with id "styles") has been given shared values */
.profile, #styles{
    text-align: center;
    border-radius: 12rem;
    padding: 2rem;
    margin: 2rem auto;
    border-style: solid;
}

/* making the containers of the two asides flex (with column direction) so that I can change the order of the elements 
presented within these tags */
.profile > div, #styles > div{
    display:flex;
    flex-direction: column;
}

/* giving shared values to the headers of the two aside tags
making the headers order 0, the first thing to display in these tags */
.profile h4, #styles h2{
    font-size: large;
    order: 0;
    margin-bottom: .3rem;
}

/* the "view stylesheets" and "view all styles" 'a' tags from the aside tag with the class "profile", and the aside tag with the id "styles", 
have both been given the following styles.
They have been set as the second element that shows up in these two aside tags */
.profile a, #styles a{
    order: 1;
    width: fit-content;
    margin: auto;
}

/* the respective lists of the two aside tags have been wrapped and given the last position to be displayed in their respective tags */
.profile ul, #styles ul{
    display: inline-flex;
    order: 2;
    flex-wrap: wrap;
    margin-top: .5rem;
}

/* the width of the list of the aside tag with id "styles" has been given a longer length to house longer text */
#styles ul li{
    width: 15rem;
}

/* giving basic values to all the elements of the footer tag with class ".page-footer" */
.page-footer{
    background-color: #0f0f0f95;
    order: 5;
    text-align: center;
    /* using backdrop filter to give the background of the footer a blue of 8px */
    backdrop-filter: blur(8px);
    border-top: solid black;
    padding: 1rem;
    color:beige;
    margin-top: 2rem;
}

/* making the container of the footer flex to change the order of the elements within it */
.page-footer > .container{
    display: flex;
    flex-direction: column;

}

/* create shared css values for all paragraphs in the footer */
.page-footer > div p{
    margin: 0.1rem;
    text-shadow: 2px 1px black;
    font-size: small;
}

/* giving the first para from the container in the footer the first order */
.page-footer > .container > p:nth-child(1){
    order: 0;
}

/* giving the second para from the container in the footer the second order */
.page-footer > .container p:nth-child(3){
    order: 1;
}

/* giving the third para from the container in the footer the third order */
.page-footer > .container p:nth-child(3) + p{
    order: 2;
}

/* giving the ul list from the container in the footer the fourth order */
.page-footer > .container > ul{
    display: flex;
    justify-content: space-evenly;
    list-style: cjk-earthly-branch;
    margin: auto;
    order: 3;
    padding:0;
    width: 50%;
}

/* the link to main css that has been disabled */
.skip-link{
    display: none;
}
/* ------------------------------------------------------------------------------------------ */
/* MEDIA QUERIES */

/* For 1920p screen */
@media only screen and (min-width: 1920px) {
    /* changing the margins of the #contributes and #guidelines articles to match the edges of the #about article present above */
    #guidelines{
        margin: 2rem 2.5rem 1rem 8rem;
    }
    #contribute{
        margin: 2rem 9.5rem 1rem 4rem
    }
    /* changing the margin of the last element in the list of the second section of the #about article */
    section:nth-child(2) > ul > li:last-child{
        margin-left: 17rem;
    }
}
/* For 1440p screen */
@media only screen and (min-width: 2560px) {
    /* changing the margins of the #contributes and #guidelines articles to match the edges of the #about article present above */
    #guidelines{
        margin: 2rem 2.5rem 1rem 12rem;
    }
    #contribute{
        margin: 2rem 13.5rem 1rem 4rem
    }
    /* changing the margin of the last element in the list of the second section of the #about article */
    section:nth-child(2) > ul > li:last-child{
        margin-left: 34.6rem;
    }
}
/* For 3840 screen */
@media only screen and (min-width: 2560px) {
    /* changing the margins of the #contributes and #guidelines articles to match the edges of the #about article present above */
    #guidelines{
        margin: 2rem 2.5rem 1rem 20rem;
    }
    #contribute{
        margin: 2rem 21.5rem 1rem 4rem
    }
    /* changing the margin of the last element in the list of the second section of the #about article */
    section:nth-child(2) > ul > li:last-child{
        margin-left: 340rem;
    }
}

/* for shrunk view  */
@media only screen and (max-width: 1470px) {
    /* changing the font size of the overall webpage */
    body {
      font-size: 13px;
    }
    /* changing the width of the list element border in the second section of the #about article */
    section:nth-child(2) > ul > li{
        width: 10rem;
    }
    /* changing the width of the ul of the second section of the #about article */
    #about > section:nth-child(2) ul{
        margin: auto;
        width: 25rem;
    }
    /* manipulating the last of element of the above ul */
    section:nth-child(2) > ul > li:last-child{
        margin-left: 6rem;
    }
    /* setting the article with id "guidelines" in a position where it is housed in the first column of the second row */
    #guidelines{
        margin: 2rem 3rem 1rem 4rem;
    }
    /* setting the article with id "contribute" in a position where it is housed in the second column of the second row */
    #contribute{
        margin: 2rem 4rem 1rem 3rem;
    }
    /* giving the ordered list of the second section of the article with id "contribute" an even padding on both sides */
    #contribute > section:nth-child(2) ol{
        padding: 0 10px;
    }
}

/* for an even smaller view */
  @media only screen and (max-width: 1070px) {
    /* I changed the flex-direction of the .container of the #about article to column so that it's vertical. */
    #about{
        flex-direction: column;
    }
    /* changing the width of the two sections in that article with a margined gap to separate them from each other. */
    #about > section:nth-child(1), #about > section:nth-child(2) {
        margin:2rem auto;
        width:50%;
    }
    /* changed the .container from a grid arrangement to a vertical flex layout so that every article flows vertically */
    main > .container{
        display: flex;
        flex-direction: column;
    }
    /* changing the width of the two articles with a margined gap to separate them from each other. */
    #guidelines, #contribute{
        margin:2rem auto;
        width:50%;
    }
    /* changing the width of the li elements of the asides with id "styles" and class "profile" to fit better in the reduced screen size. */
    .profile ul li, #styles ul li{
        width:14rem;
    }
    /* reducing the width of the two asides to fit better. */
    .profile, #styles{
        border-radius: 6rem;
        width:50%;
    }
    /* removing flex-wrap from the two aside's unordered lists and making them flow vertically to fit */
    .profile ul, #styles ul{
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 1rem auto;
        padding: 0;
    }
    /* changing the size of all the text elements in the footer to fit */
    .page-footer > div ul, .page-footer > div p{
        font-size:11px;
    }
}

/* for an even smaller view */
  @media only screen and (max-width: 888px) {
    /* changing the size of the nav to fit the smaller size */
    nav{
        font-size: 13px;
    }
    /* making the unordered list in the #about article a vertically flowing flex item. */
    #about > section:nth-child(2) ul{
        flex-direction: column;
        margin: auto;
        padding: 0;
        width: fit-content;
    }
    /* changing the width of the list elements to fit */
    section:nth-child(2) > ul li{
        width:14rem;
    }
    /* giving the last list item in that list a left margin to shift it towards the middle point of the list */
    section:nth-child(2) > ul > li:last-child {
        margin-left: 6px;
    }
    /* making the footer elements with id "files" of the #contribute article displayed vertically to fit */
    #files > .container{
        display:flex;
        flex-direction: column;
    }
    /* giving each element in that footer an appropriate width */
    #files a{
        margin: .3rem auto;
        width: 14rem;
    }
    /* changing the size of the elements in the unordered list of the actual footer of the html(with class "page-footer" not the footer of the #contribute article)
    ,changing the size of the elements of the list present within it. */
    .page-footer > div > ul li{
        margin: 0px 16px;
        font-size:xx-small;
    }
}

@media only screen and (max-width: 580px) {
    /* changing the size of the nav, the actual html footer's paragraphs, */
    nav, .page-footer > div p{
        font-size: 8px;
    }
    /* reducing the actual footer's list element sizes */
    .page-footer > div > ul li{
        margin: 0px 12px;
        font-size: 7px;
    }
    /* changing the sizes of various elements in the header to fit */
    header > .container > h2, header > .container > p{
        font-size:14px;
    }
    /* reducing the main heading's size (in the header) */
    header > .container > h1{
        font-size: 50px;
        text-shadow: 1px 4px black;
    }
    /* changing the width of each list element to fit the reduced screen-size */
    .profile ul li, #styles ul li, #files a, section:nth-child(2) > ul li{
        width:10rem;
    }
    /* giving an even left-right padding to the numbered ordered list of the second section of the #contribute article */
    #contribute > section:nth-child(2) ol{
        padding: 0 10px;
    }
}

@media only screen and (max-width: 360px) {
    /* changing the size of the nav, the actual html footer's paragraphs, */
    nav,.page-footer > div p{
        font-size: 6px;
    }
    /* reducing the actual footer's list element sizes */
    .page-footer > div > ul li{
        margin: 0px 16px;
        font-size: 5px;
    }
    /* changing the sizes of various elements in the header to fit */
    header > .container > h2, header > .container > p{
        font-size:10px;
    }
    /* reducing the main heading's size (in the header) */
    header > .container > h1{
        font-size: 35px;
        text-shadow: 3px 2px black;
    }
    /* changing the width of each list element to fit the reduced screen-size */
    .profile ul li, #styles ul li, #files a, section:nth-child(2) > ul li{
        width:7rem;
    }
}

@media only screen and (max-width: 270px) {
    /* changing the size of the nav, the actual html footer's paragraphs, */
    nav,.page-footer > div p{
        font-size: 6px;
    }
    /* changing the sizes of various elements in the header to fit */
    header > .container > h2, header > .container > p{
        font-size:8px;
    }
    /* reducing the main heading's size (in the header) */
    header > .container > h1{
        font-size: 30px;
        text-shadow: 3px 2px black;
    }
    /* changing the width of each list element to fit the reduced screen-size */
    .profile ul li, #styles ul li, #files a, section:nth-child(2) > ul li{
        width:5rem;
    }
}
